# Data wrangling process

__Created by Jochen Teschke__<br>
__Linkedin:__  https://www.linkedin.com/in/jochen-teschke/<br>__Tableau public:__ https://public.tableau.com/app/profile/jochen.teschke

__Data Source:__ The dataset "Liste der Ladesäulen (xlsx, Ladesaeulenregister_BNetzA_2025-09-24.xlsx, 15 MB)" 
was obtained from the "bundesnetzagentur.de"(www.bundesnetzagentur.de). The dataset is licensed under the Creative Commons Attribution 4.0 International (CC BY 4.0) license.<br>__Licence:__ https://creativecommons.org/licenses/by/4.0/<br>__Modifications:__ The original dataset was modified during data preparation. Redundant columns were removed, missing values cleaned where necessary, spelling errors corrected, duplicates deleted, and invalid characters removed.

## Table of Contents
- [Import of python libraries](#Library-import)<br>
- [Used functions](#Creating-two-user-defined-functions)<br>
- [Used dataset](#Loading-the-dataset)<br>
- [Data cleaning](#Data-cleaning)<br>
    - [Deleting columns](#Deleting-columns)<br>
    - [Handling NaN values](#Handling-NaN-values)<br>
    - [Handling duplicates](#Handling-duplicates)<br>
    - [Deleting incorrect leading characters](#Deleting-incorrect-leading-characters)<br>
    - [Correcting spelling errors](#Correcting-spelling-errors)<br>
- [Final evaluation](#Validation-of-the-dataset)<br>
- [Loading the dataset into databases](#Saving-the-dataset)<br>

## Library import

In [1]:
# import of pandas and sqlalchemy
import pandas as pd
import sqlalchemy as db

## Creating two user-defined functions
- the first function deletes duplicate values in cells
- the second function converts column titles to a list and count values in each column using a for loop

In [2]:
def del_cell_duplicates(dataset,column):
    # create a copy of the DataFrame and assign it to a local variable
    df = dataset.copy()

    # cell entries of "column" are converted to list items
    df = df.assign(new_split=df[column].astype(str).str.split(";"))

    # each list item becomes a separate row entry for the same row index
    df = df.explode("new_split")

    # whitespaces are deleted
    df["new_split"] = df["new_split"].astype(str).str.strip()

    # completely duplicate rows are deleted
    df = df.drop_duplicates()

    # everything will be put together and assigned to the original DataFrame
    # .join is a build-in function of python-strings and is applied to a delimiter
    dataset[column+"_clean"] = df.groupby(df.index)["new_split"].agg(lambda x: "; ".join(sorted(x)))

    return dataset

In [3]:
def count_values(dataset):
    # creating a list with all column titles
    column_titles = dataset.columns.tolist()

    # counting values of each column
    for i in column_titles:
        print(dataset.value_counts(i, ascending=False))
        print()

## Loading the dataset
- The dataset is loaded from the internet via URL
- Checking the dataset structure

In [4]:
file_path = "https://data.bundesnetzagentur.de/Bundesnetzagentur/DE/Fachthemen/ElektrizitaetundGas/E-Mobilitaet/Ladesaeulenregister_BNetzA_2025-09-24.xlsx"

In [5]:
dataset = pd.read_excel(file_path,skiprows=10)

In [6]:
dataset.head()

,Ladeeinrichtungs-ID,Betreiber,Anzeigename (Karte),Status,Art der Ladeeinrichtung,Anzahl Ladepunkte,Nennleistung Ladeeinrichtung [kW],Inbetriebnahmedatum,Straße,Hausnummer,...,EVSE-ID4,Public Key4,Steckertypen5,Nennleistung Stecker5,EVSE-ID5,Public Key5,Steckertypen6,Nennleistung Stecker6,EVSE-ID6,Public Key6
0,1010338,Albwerk Elektro- und Kommunikationstechnik GmbH,Albwerk Elektro- und Kommunikationstechnik GmbH,In Betrieb,Normalladeeinrichtung,2,22.0,2020-01-11,Ennabeurer Weg,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1063962,smopi® - Multi Chargepoint Solution GmbH,smopi,In Betrieb,Normalladeeinrichtung,4,22.0,2022-11-23,Albstraße,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1063963,smopi® - Multi Chargepoint Solution GmbH,smopi,In Betrieb,Normalladeeinrichtung,4,22.0,2022-11-23,Albstraße,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1063964,smopi® - Multi Chargepoint Solution GmbH,smopi,In Betrieb,Normalladeeinrichtung,2,22.0,2022-11-23,Albstraße,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010329,Albwerk Elektro- und Kommunikationstechnik GmbH,Albwerk Elektro- und Kommunikationstechnik GmbH,In Betrieb,Normalladeeinrichtung,2,22.0,2019-01-07,Parkplatz Campingplatz,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95565 entries, 0 to 95564
Data columns (total 47 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Ladeeinrichtungs-ID                95565 non-null  int64
 1   Betreiber                          95565 non-null  object
 2   Anzeigename (Karte)                41438 non-null  object
 3   Status                             95565 non-null  object
 4   Art der Ladeeinrichtung            95565 non-null  object
 5   Anzahl Ladepunkte                  95565 non-null  int64
 6   Nennleistung Ladeeinrichtung [kW]  95565 non-null  float64
 7   Inbetriebnahmedatum                95565 non-null  datetime64[ns]
 8   Straße                             95565 non-null  object
 9   Hausnummer                         95565 non-null  object
 10  Adresszusatz                       16459 non-null  object
 11  Postleitzahl                       95565 non-null  int64
 12  Ort                                95565 non-null  object
 13  Kreis/kreisfreie Stadt             95565 non-null  object
 14  Bundesland                         95565 non-null  object
 15  Breitengrad                        95565 non-null  float64
 16  Längengrad                         95565 non-null  float64
 17  Standortbezeichnung                15574 non-null  object
 18  Informationen zum Parkraum         31936 non-null  object
 19  Bezahlsysteme                      81702 non-null  object
 20  Öffnungszeiten                     95565 non-null  object
 21  Öffnungszeiten: Wochentage         22117 non-null  object
 22  Öffnungszeiten: Tageszeiten        22117 non-null  object
 23  Steckertypen1                      95565 non-null  object
 24  Nennleistung Stecker1              95564 non-null  object
 25  EVSE-ID1                           14607 non-null  object
 26  Public Key1                        20682 non-null  object
 27  Steckertypen2                      69847 non-null  object
 28  Nennleistung Stecker2              69847 non-null  object
 29  EVSE-ID2                           10557 non-null  object
 30  Public Key2                        14350 non-null  object
 31  Steckertypen3                      5511 non-null   object
 32  Nennleistung Stecker3              5511 non-null   object
 33  EVSE-ID3                           486 non-null    object
 34  Public Key3                        1242 non-null   object
 35  Steckertypen4                      3054 non-null   object
 36  Nennleistung Stecker4              3054 non-null   object
 37  EVSE-ID4                           279 non-null    object
 38  Public Key4                        800 non-null    object
 39  Steckertypen5                      120 non-null    object
 40  Nennleistung Stecker5              120 non-null    object
 41  EVSE-ID5                           67 non-null     object
 42  Public Key5                        54 non-null     object
 43  Steckertypen6                      95 non-null     object
 44  Nennleistung Stecker6              95 non-null     object
 45  EVSE-ID6                           48 non-null     object
 46  Public Key6                        37 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(3), object(40)
memory usage: 34.3+ MB

## Data cleaning
- Deleting unnecessary columns
- Handling NaN values, duplicate rows, and duplicates within cells
- Deleting incorrect leading characters
- Correcting spelling errors

#### Deleting columns

In [8]:
# deleting columns which are not required for further analysis
dataset = dataset.drop(columns=["Anzeigename (Karte)", "Adresszusatz",
                      "Standortbezeichnung","EVSE-ID1","EVSE-ID2","EVSE-ID3","EVSE-ID4",
                      "EVSE-ID5","EVSE-ID6", "Public Key1", "Public Key2", "Public Key3",
                      "Public Key4", "Public Key5", "Public Key6",
                      "Nennleistung Stecker1", "Nennleistung Stecker2", "Nennleistung Stecker3",
                      "Nennleistung Stecker4","Nennleistung Stecker5","Nennleistung Stecker6"])

#### Handling NaN values

In [9]:
# check for NaN-Values
dataset.isnull().sum()

Ladeeinrichtungs-ID                      0
Betreiber                                0
Status                                   0
Art der Ladeeinrichtung                  0
Anzahl Ladepunkte                        0
Nennleistung Ladeeinrichtung [kW]        0
Inbetriebnahmedatum                      0
Straße                                   0
Hausnummer                               0
Postleitzahl                             0
Ort                                      0
Kreis/kreisfreie Stadt                   0
Bundesland                               0
Breitengrad                              0
Längengrad                               0
Informationen zum Parkraum           63629
Bezahlsysteme                        13863
Öffnungszeiten                           0
Öffnungszeiten: Wochentage           73448
Öffnungszeiten: Tageszeiten          73448
Steckertypen1                            0
Steckertypen2                        25718
Steckertypen3                        90054
Steckertypen4                        92511
Steckertypen5                        95445
Steckertypen6                        95470
dtype: int64

In [10]:
# all NaN values will be replaced by "Keine Angabe"
dataset = dataset.fillna("Keine Angabe")

In [11]:
# check for NaN-Values after replacing them
dataset.isnull().sum()

Ladeeinrichtungs-ID                  0
Betreiber                            0
Status                               0
Art der Ladeeinrichtung              0
Anzahl Ladepunkte                    0
Nennleistung Ladeeinrichtung [kW]    0
Inbetriebnahmedatum                  0
Straße                               0
Hausnummer                           0
Postleitzahl                         0
Ort                                  0
Kreis/kreisfreie Stadt               0
Bundesland                           0
Breitengrad                          0
Längengrad                           0
Informationen zum Parkraum           0
Bezahlsysteme                        0
Öffnungszeiten                       0
Öffnungszeiten: Wochentage           0
Öffnungszeiten: Tageszeiten          0
Steckertypen1                        0
Steckertypen2                        0
Steckertypen3                        0
Steckertypen4                        0
Steckertypen5                        0
Steckertypen6                        0
dtype: int64

#### Handling duplicates

In [12]:
# check for duplicate IDs
print(dataset.duplicated(subset=["Ladeeinrichtungs-ID"]).sum())

0

In [13]:
# check for duplicate rows
print(dataset.duplicated().sum())

0

__Notice__
- Some columns contain duplicate values within the cells
- The value_counts() function helps to investigate this problem
- For clarity, only one column is shown here as an example

In [14]:
# check for duplicate values within cells
dataset["Steckertypen2"].value_counts()

Steckertypen2
AC Typ 2 Steckdose                                                                                  45372
Keine Angabe                                                                                        25718
DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                               15561
AC Typ 2 Fahrzeugkupplung                                                                            3830
AC Typ 2 Steckdose; AC Schuko                                                                        2172
DC Fahrzeugkupplung Typ Combo 2 (CCS); DC CHAdeMO                                                    1563
AC Typ 2 Steckdose; AC Typ 2 Fahrzeugkupplung                                                         914
AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                      122
AC Typ 2 Steckdose; AC Typ 2 Steckdose                                                                 57
AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                              53
AC Typ 2 Fahrzeugkupplung; DC CHAdeMO                                                                  46
DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                      31
AC Schuko                                                                                              25
DC Fahrzeugkupplung Typ Combo 2 (CCS); DC Fahrzeugkupplung Typ Combo 2 (CCS)                           15
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Fahrzeugkupplung                                                   14
AC Typ 2 Steckdose; AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS)                   12
AC Typ 2 Steckdose; AC Typ 2 Fahrzeugkupplung; DC CHAdeMO                                              12
AC Typ 2 Fahrzeugkupplung; AC Schuko                                                                   10
AC Typ 2 Steckdose; AC Typ 2 Fahrzeugkupplung; AC Schuko                                                8
AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS); DC CHAdeMO                            7
DC Fahrzeugkupplung Typ Combo 2 (CCS); AC Typ 2 Steckdose                                               6
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                                           3
DC Fahrzeugkupplung Typ Combo 2 (CCS); AC Typ 2 Fahrzeugkupplung                                        3
AC Schuko; AC Typ 2 Steckdose                                                                           3
AC Typ 2 Steckdose; DC CHAdeMO                                                                          2
DC CHAdeMO                                                                                              2
AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS); AC Schuko                                    1
AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS); DC CHAdeMO                                   1
DC Fahrzeugkupplung Typ Combo 2 (CCS); DC Fahrzeugkupplung Typ Combo 2 (CCS); DC CHAdeMO                1
AC Typ 2 Steckdose; AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS); DC CHAdeMO        1
Name: count, dtype: int64

In [15]:
# calling the user-defined function del_cell_duplicates to delete duplicates within cells of specific columns
dataset = del_cell_duplicates(dataset,"Bezahlsysteme")
dataset = del_cell_duplicates(dataset,"Steckertypen1")
dataset = del_cell_duplicates(dataset,"Steckertypen2")
dataset = del_cell_duplicates(dataset,"Steckertypen3")
dataset = del_cell_duplicates(dataset,"Steckertypen4")
dataset = del_cell_duplicates(dataset,"Steckertypen5")
dataset = del_cell_duplicates(dataset,"Steckertypen6")

#### Deleting incorrect leading characters

In [16]:
# a created list with each unique values shows which leading characters should be deleted from column "Hausnummer"
unique = pd.unique(dataset["Hausnummer"]).tolist()
unique.sort()
print(unique[:40],"...",unique[-40:])

[' 102', ' 2', ' 62', ' 94', '"0"', '-', '.', '0', '00', '01', '05', '0A', '0a', '0b', '0c', '1', '1 ', '1 - 3', '1 - 4', '1 - 5', '1 - 7', '1 A', '1 S', '1 Z', '1 ZZ', '1 ZZZ', '1 a', '1 b', '1 ggü.', '1 p', '1 z', '1 zzz', '1+2', '1+3', '1,2,6', '1-', '1- 3', '1-10', '1-11', '1-12'] ... ['bei 29', 'bei 2a', 'bei 3', 'bei 34', 'bei 35', 'bei 4', 'bei 42', 'bei 5', 'bei 6', 'bei Hs. 2', 'bei Nr. 4', 'bei Nr.9', 'd', 'gg. 81', 'ggÜ. 41', 'ggü .76', 'ggü 27', 'ggü 3', 'ggü 34', 'ggü 5', 'ggü 7', 'ggü. 1', 'ggü. 13', 'ggü. 18', 'ggü. 2', 'ggü. 21', 'ggü. 29b', 'ggü. 33', 'ggü. 5', 'ggü. 6', 'ggü. 7', 'ggü. 76', 'ggü. 90', 'ggü. Nr.18', 'ggü.76', 'ggüb. 1', 'xy', 'zw. 70 /76', '\xa01', '´1']

In [17]:
# deleting wrong leading characters
dataset["Hausnummer"] = dataset["Hausnummer"].str.strip(" \"!.´ ")
dataset["Hausnummer"] = dataset["Hausnummer"].replace({"1-":"1",
                                                       "1 ":"1",
                                                       "01":"1",
                                                       "05":"5", 
                                                       "00":"0",
                                                       "0\"":"0"
                                                       })
dataset["Hausnummer"] = dataset["Hausnummer"].replace({r"^\s+1":"1",
                                                       r"^\s+":"-"},
                                                       regex=True)

#### Correcting spelling errors

In [18]:
# the new column "Bezahlsysteme_clean" has leading characters which should be removed
# and the value "Sonstige" should be replaced by "Keine Angabe"
dataset["Bezahlsysteme_clean"] = dataset["Bezahlsysteme_clean"].str.strip("; ")
dataset["Bezahlsysteme_clean"] = dataset["Bezahlsysteme_clean"].replace("Sonstige", "Keine Angabe")

In [19]:
# in column "Informationen zum Parkraum" are identical values
# which are treated as two different values
# therefore the spelling of one of theses values will be adjusted
dataset["Informationen zum Parkraum"] = dataset["Informationen zum Parkraum"].replace("keine Beschränkung", "Keine Beschränkung")

## Validation of the dataset
- Checking the structure of the cleaned and transformed dataset
- Final compression

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95565 entries, 0 to 95564
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Ladeeinrichtungs-ID                95565 non-null  int64
 1   Betreiber                          95565 non-null  object
 2   Status                             95565 non-null  object
 3   Art der Ladeeinrichtung            95565 non-null  object
 4   Anzahl Ladepunkte                  95565 non-null  int64
 5   Nennleistung Ladeeinrichtung [kW]  95565 non-null  float64
 6   Inbetriebnahmedatum                95565 non-null  datetime64[ns]
 7   Straße                             95565 non-null  object
 8   Hausnummer                         95565 non-null  object
 9   Postleitzahl                       95565 non-null  int64
 10  Ort                                95565 non-null  object
 11  Kreis/kreisfreie Stadt             95565 non-null  object
 12  Bundesland                         95565 non-null  object
 13  Breitengrad                        95565 non-null  float64
 14  Längengrad                         95565 non-null  float64
 15  Informationen zum Parkraum         95565 non-null  object
 16  Bezahlsysteme                      95565 non-null  object
 17  Öffnungszeiten                     95565 non-null  object
 18  Öffnungszeiten: Wochentage         95565 non-null  object
 19  Öffnungszeiten: Tageszeiten        95565 non-null  object
 20  Steckertypen1                      95565 non-null  object
 21  Steckertypen2                      95565 non-null  object
 22  Steckertypen3                      95565 non-null  object
 23  Steckertypen4                      95565 non-null  object
 24  Steckertypen5                      95565 non-null  object
 25  Steckertypen6                      95565 non-null  object
 26  Bezahlsysteme_clean                95565 non-null  object
 27  Steckertypen1_clean                95565 non-null  object
 28  Steckertypen2_clean                95565 non-null  object
 29  Steckertypen3_clean                95565 non-null  object
 30  Steckertypen4_clean                95565 non-null  object
 31  Steckertypen5_clean                95565 non-null  object
 32  Steckertypen6_clean                95565 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(26)
memory usage: 24.1+ MB

In [21]:
# dropping the columns with duplicates within their cells
dataset = dataset.drop(columns=["Bezahlsysteme", "Steckertypen1", "Steckertypen2",
                                "Steckertypen3", "Steckertypen4", "Steckertypen5",
                                "Steckertypen6"])

In [22]:
# rename the columns with the appendix _clean
dataset = dataset.rename(columns={"Bezahlsysteme_clean": "Bezahlsysteme",
                                  "Steckertypen1_clean": "Steckertypen1",
                                  "Steckertypen2_clean": "Steckertypen2",
                                  "Steckertypen3_clean": "Steckertypen3",
                                  "Steckertypen4_clean": "Steckertypen4",
                                  "Steckertypen5_clean": "Steckertypen5",
                                  "Steckertypen6_clean": "Steckertypen6",
                                  })

In [23]:
# call a function to count the values of each column to perform a final evaluation
count_values(dataset)

Ladeeinrichtungs-ID
1134544    1
1000000    1
1000001    1
1000002    1
1000003    1
          ..
1000017    1
1000016    1
1000015    1
1000014    1
1000013    1
Name: count, Length: 95565, dtype: int64

Betreiber
EnBW mobility+ AG und Co.KG                                      4516
Tesla Germany GmbH                                               3584
E.ON Drive GmbH                                                  3002
EWE Go GmbH                                                      1508
Mercedes-Benz AG                                                 1362
                                                                 ...
ws IT Service GmbH                                                  1
x07907x - Media and IT-Consulting                                   1
Jenny AG                                                            1
Ferien- und Tagungszentrum Alt Schweriner Werder GmbH & Co.KG       1
Ronald  Messner                                                     1
Name: count, Length: 11360, dtype: int64

Status
In Betrieb    95555
In Wartung       10
Name: count, dtype: int64

Art der Ladeeinrichtung
Normalladeeinrichtung     71143
Schnellladeeinrichtung    24422
Name: count, dtype: int64

Anzahl Ladepunkte
2    64336
1    25718
4     2934
3     2457
6       95
5       25
Name: count, dtype: int64

Nennleistung Ladeeinrichtung [kW]
22.0     27573
44.0     24462
11.0     10681
300.0     5353
150.0     4697
         ...
290.0        1
317.0        1
325.0        1
340.0        1
370.0        1
Name: count, Length: 257, dtype: int64

Inbetriebnahmedatum
2023-03-20    975
2022-01-01    777
2024-01-01    753
2022-11-21    670
2022-09-21    615
             ...
2015-07-23      1
2015-07-20      1
2015-07-16      1
2015-07-15      1
2015-07-13      1
Name: count, Length: 3663, dtype: int64

Straße
Hauptstraße          662
Bahnhofstr.          546
Knorrstraße          545
Bahnhofstraße        528
Tesla Straße         512
                    ...
Überwasserstraße       1
Überlinger Straße      1
Überlinger Str.        1
Überhofer Straße       1
Überfahrtweg           1
Name: count, Length: 31904, dtype: int64

Hausnummer
1            10836
0             7482
2             6024
3             3267
4             3198
             ...
bei 17           1
d                1
bei Nr.9         1
bei Nr. 4        1
bei 6            1
Name: count, Length: 2447, dtype: int64

Postleitzahl
15537    556
80937    548
65428    487
71063    445
70565    386
        ...
99638      1
99707      1
99713      1
99338      1
99452      1
Name: count, Length: 7243, dtype: int64

Ort
Berlin                  3596
Stuttgart               2100
Hamburg                 2040
München                 2018
Köln                    1172
                        ...
Oberseifersdorf            1
Oberschleißeim             1
Oberschleichach            1
Östringen - Odenheim       1
Öhningen-Wangen            1
Name: count, Length: 7649, dtype: int64

Kreis/kreisfreie Stadt
Kreisfreie Stadt Berlin       3622
Stadtkreis Stuttgart          2109
Kreisfreie Stadt Hamburg      2047
Kreisfreie Stadt München      2024
Landkreis Region Hannover     1601
                              ...
Landkreis Sömmerda              34
Landkreis Kusel                 28
Kreisfreie Stadt Schwabach      27
Kreisfreie Stadt Hof            24
Kreisfreie Stadt Pirmasens      21
Name: count, Length: 400, dtype: int64

Bundesland
Bayern                    19181
Nordrhein-Westfalen       18265
Baden-Württemberg         15842
Niedersachsen              9394
Hessen                     7592
Rheinland-Pfalz            3824
Schleswig-Holstein         3622
Berlin                     3622
Sachsen                    3357
Brandenburg                2579
Hamburg                    2047
Thüringen                  1893
Sachsen-Anhalt             1562
Mecklenburg-Vorpommern     1428
Saarland                    683
Bremen                      674
Name: count, dtype: int64

Breitengrad
52.391331    513
50.079770    216
49.145964     98
48.795253     90
48.781512     83
            ...
54.955434      1
54.953982      1
54.936972      1
54.935077      1
54.911110      1
Name: count, Length: 63605, dtype: int64

Längengrad
13.792150    513
8.220620     216
9.209440      98
11.403728     90
11.421004     83
            ...
5.989255       1
5.941453       1
5.898014       1
5.897660       1
5.895952       1
Name: count, Length: 63865, dtype: int64

Informationen zum Parkraum
Keine Angabe               63629
Keine Beschränkung         28714
Nur für Kunden/Besucher     3222
Name: count, dtype: int64

Öffnungszeiten
Keine Angabe     73364
247              21129
Eingeschränkt     1072
Name: count, dtype: int64

Öffnungszeiten: Wochentage
Keine Angabe                                                         73448
Montag; Dienstag; Mittwoch; Donnerstag; Freitag; Samstag; Sonntag    21495
Montag; Dienstag; Mittwoch; Donnerstag; Freitag; Samstag               317
Montag; Dienstag; Mittwoch; Donnerstag; Freitag                        276
Freitag; Samstag; Sonntag                                                5
Dienstag; Mittwoch; Donnerstag; Freitag; Samstag                         4
Montag; Dienstag; Mittwoch; Donnerstag                                   3
Samstag; Sonntag                                                         3
Montag; Dienstag; Mittwoch                                               2
Dienstag; Mittwoch; Donnerstag                                           2
Montag; Mittwoch                                                         2
Dienstag; Freitag; Samstag; Sonntag                                      1
Dienstag; Donnerstag; Freitag                                            1
Dienstag; Mittwoch; Donnerstag; Freitag                                  1
Donnerstag; Freitag; Samstag                                             1
Montag; Dienstag                                                         1
Mittwoch; Donnerstag; Freitag                                            1
Montag; Dienstag; Sonntag                                                1
Montag; Mittwoch; Freitag                                                1
Name: count, dtype: int64

Öffnungszeiten: Tageszeiten
Keine Angabe                                                                                 73448
00:00-23:59; 00:00-23:59; 00:00-23:59; 00:00-23:59; 00:00-23:59; 00:00-23:59; 00:00-23:59    21129
06:00-22:00; 06:00-22:00; 06:00-22:00; 06:00-22:00; 06:00-22:00; 06:00-22:00; 06:00-22:00      136
08:00-12:00; 08:00-12:00; 08:00-12:00; 08:00-12:00; 08:00-12:00                                 68
05:30-23:59; 05:30-23:59; 05:30-23:59; 05:30-23:59; 05:30-23:59; 05:30-23:30; 07:30-23:30       50
                                                                                             ...
05:30-22:30; 05:30-22:30; 05:30-22:30; 05:30-22:30; 05:30-22:30; 07:30-20:30; 08:30-19:30        1
05:30-20:00; 05:30-20:00; 05:30-20:00; 05:30-20:00; 05:30-20:00; 05:30-20:00                     1
05:30-22:30; 05:30-22:30; 05:30-22:30; 05:30-22:30; 05:30-22:30; 05:30-22:30; 05:30-22:30        1
03:30-16:00; 03:30-16:00; 03:30-16:00; 03:30-16:00; 03:30-16:00; 03:30-16:00; 03:30-16:00        1
00:10-05:00; 00:10-05:00; 00:10-05:00                                                            1
Name: count, Length: 269, dtype: int64

Bezahlsysteme
Onlinezahlungsverfahren; RFID-Karte                                                                                                  35636
Keine Angabe                                                                                                                         13867
Onlinezahlungsverfahren; RFID-Karte; Sonstige                                                                                         9133
Onlinezahlungsverfahren                                                                                                               6911
Kostenlos                                                                                                                             4019
                                                                                                                                     ...
Bargeld; Debitkarte (Lesegerät); Kostenlos (Registrierung); Onlinezahlungsverfahren; RFID-Karte; Sonstige                                1
Bargeld; Debitkarte (Lesegerät); Kostenlos; Kostenlos (Registrierung); Kreditkarte (Lesegerät); Onlinezahlungsverfahren                  1
Bargeld; Debitkarte (Lesegerät); Debitkarte (NFC); Kreditkarte (Lesegerät)                                                               1
Bargeld; Debitkarte (Lesegerät); Debitkarte (NFC); Kostenlos; Onlinezahlungsverfahren                                                    1
Bargeld; Debitkarte (Lesegerät); Debitkarte (NFC); Kostenlos; Kreditkarte (Lesegerät); Kreditkarte (NFC); Onlinezahlungsverfahren        1
Name: count, Length: 396, dtype: int64

Steckertypen1
AC Typ 2 Steckdose                                                                                  58548
DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                               21839
AC Typ 2 Fahrzeugkupplung                                                                            9397
AC Schuko; AC Typ 2 Steckdose                                                                        2525
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                                        1515
DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                    1443
AC Schuko; AC Typ 2 Fahrzeugkupplung                                                                   74
AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                              67
AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                       45
AC Typ 2 Steckdose; DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                  23
AC Schuko; AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                               22
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                   17
AC Typ 2 Fahrzeugkupplung; DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                           12
AC Typ 2 Fahrzeugkupplung; DC CHAdeMO                                                                   8
AC Schuko                                                                                               7
AC Schuko; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                        5
AC Typ 2 Steckdose; DC CHAdeMO                                                                          3
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)        2
AC Typ 1 Steckdose; AC Typ 2 Steckdose                                                                  2
AC Schuko; AC Typ 2 Fahrzeugkupplung; DC CHAdeMO                                                        2
AC Schuko; AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)         1
AC Typ 1 Steckdose; AC Typ 2 Fahrzeugkupplung                                                           1
AC Schuko; AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                    1
AC Schuko; AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS)                             1
AC Schuko; AC Typ 2 Steckdose; DC CHAdeMO                                                               1
AC Schuko; AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC CHAdeMO                                    1
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC CHAdeMO                                               1
AC Typ 1 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                               1
DC Fahrzeugkupplung Typ Combo 2 (CCS); DC Tesla Fahrzeugkupplung (Typ 2)                                1
Name: count, dtype: int64

Steckertypen2
AC Typ 2 Steckdose                                                                                  45429
Keine Angabe                                                                                        25718
DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                               15576
AC Typ 2 Fahrzeugkupplung                                                                            3844
AC Schuko; AC Typ 2 Steckdose                                                                        2175
DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                    1595
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                                         917
AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                      125
AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                              59
AC Typ 2 Fahrzeugkupplung; DC CHAdeMO                                                                  46
AC Schuko                                                                                              25
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC CHAdeMO                                              12
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                   12
AC Schuko; AC Typ 2 Fahrzeugkupplung                                                                   10
AC Schuko; AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                                8
AC Typ 2 Fahrzeugkupplung; DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                            7
DC CHAdeMO                                                                                              2
AC Typ 2 Steckdose; DC CHAdeMO                                                                          2
AC Schuko; AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                    1
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)        1
AC Typ 2 Steckdose; DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                   1
Name: count, dtype: int64

Steckertypen3
Keine Angabe                                                                                        90054
AC Typ 2 Steckdose                                                                                   3652
DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                                 706
AC Typ 2 Fahrzeugkupplung                                                                             564
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                                         237
AC Typ 2 Fahrzeugkupplung; DC CHAdeMO                                                                 109
AC Schuko; AC Typ 2 Steckdose                                                                          98
AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                       53
DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                      45
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC CHAdeMO                                              17
AC Schuko                                                                                              10
AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                               9
DC CHAdeMO                                                                                              4
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                    3
AC Schuko; AC Typ 2 Fahrzeugkupplung                                                                    1
AC Schuko; AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                                1
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)        1
AC Typ 2 Steckdose; DC CHAdeMO                                                                          1
Name: count, dtype: int64

Steckertypen4
Keine Angabe                                                                            92511
AC Typ 2 Steckdose                                                                       2233
AC Typ 2 Fahrzeugkupplung                                                                 429
DC Fahrzeugkupplung Typ Combo 2 (CCS)                                                     169
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                             129
AC Schuko; AC Typ 2 Steckdose                                                              53
DC CHAdeMO; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                          20
AC Schuko                                                                                  13
AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)                                   3
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose; DC Fahrzeugkupplung Typ Combo 2 (CCS)        3
AC Schuko; AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose                                    1
AC Typ 2 Fahrzeugkupplung; DC Fahrzeugkupplung Typ Combo 2 (CCS)                            1
Name: count, dtype: int64

Steckertypen5
Keine Angabe                                     95445
AC Typ 2 Steckdose                                  80
AC Typ 2 Fahrzeugkupplung                           24
DC Fahrzeugkupplung Typ Combo 2 (CCS)               11
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose        4
AC Schuko; AC Typ 2 Steckdose                        1
Name: count, dtype: int64

Steckertypen6
Keine Angabe                                     95470
AC Typ 2 Steckdose                                  61
AC Typ 2 Fahrzeugkupplung                           23
DC Fahrzeugkupplung Typ Combo 2 (CCS)                9
AC Typ 2 Fahrzeugkupplung; AC Typ 2 Steckdose        2
Name: count, dtype: int64

In [24]:
# final infos about the cleaned dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95565 entries, 0 to 95564
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Ladeeinrichtungs-ID                95565 non-null  int64
 1   Betreiber                          95565 non-null  object
 2   Status                             95565 non-null  object
 3   Art der Ladeeinrichtung            95565 non-null  object
 4   Anzahl Ladepunkte                  95565 non-null  int64
 5   Nennleistung Ladeeinrichtung [kW]  95565 non-null  float64
 6   Inbetriebnahmedatum                95565 non-null  datetime64[ns]
 7   Straße                             95565 non-null  object
 8   Hausnummer                         95565 non-null  object
 9   Postleitzahl                       95565 non-null  int64
 10  Ort                                95565 non-null  object
 11  Kreis/kreisfreie Stadt             95565 non-null  object
 12  Bundesland                         95565 non-null  object
 13  Breitengrad                        95565 non-null  float64
 14  Längengrad                         95565 non-null  float64
 15  Informationen zum Parkraum         95565 non-null  object
 16  Öffnungszeiten                     95565 non-null  object
 17  Öffnungszeiten: Wochentage         95565 non-null  object
 18  Öffnungszeiten: Tageszeiten        95565 non-null  object
 19  Bezahlsysteme                      95565 non-null  object
 20  Steckertypen1                      95565 non-null  object
 21  Steckertypen2                      95565 non-null  object
 22  Steckertypen3                      95565 non-null  object
 23  Steckertypen4                      95565 non-null  object
 24  Steckertypen5                      95565 non-null  object
 25  Steckertypen6                      95565 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(3), object(19)
memory usage: 19.0+ MB

## Saving the dataset
- Upload to a MySQL and a PostgreSQL database
- Save as an Excel file

In [ ]:
# create engines for MySQL and PostgreSQL with sqlalchemy
engine_mysql = db.create_engine("mysql+mysqlconnector://<username>:<password>@<hostname>:<port>/<database>")
engine_postgresql = db.create_engine("postgresql+psycopg2://<username>:<password>@<hostname>:<port>/<database>")

In [ ]:
# full upload of the clean dataset into databases and saving as an Excel file
# the old dataset will be replaced
dataset.to_sql("<table_name>", con=engine_mysql, if_exists="replace")
dataset.to_sql("<table_name>", con=engine_postgresql, if_exists="replace")
dataset.to_excel(r"....\<filename>.xlsx",sheet_name="<sheet_name>", index=False)